<div class="alert alert-danger" role="alert" *ngIf="errors.length > 0">
    <ul>
        <li *ngFor="let error of errors">
            {{ error }}
        </li>
    </ul>
</div>
<div class="alert alert-success" role="alert" *ngIf="successfulSave">
    Categoria salva com sucesso
</div>

<form novalidate [formGroup]="categoriaForm" (ngSubmit)="onSubmit()" class="form-horizontal">

    <div class="form-group">
        <div class="col-sm-6">
            <mat-form-field>
                <input matInput placeholder="Categoria Pai" formControlName="categoria_pai" [matAutocomplete]="auto" />
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                    <mat-option *ngFor="let sector of categorias" [value]="sector">
                        {{ sector.codigo }} - {{ sector.descricao }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-6">
            <mat-form-field>
                <input matInput placeholder="Código" id="codigo" formControlName="codigo" />
                <mat-error *ngIf="categoriaForm.controls.codigo.hasError('required')">
                    Código não informado
                </mat-error>
                <mat-error *ngIf="categoriaForm.controls.codigo.hasError('minlength')">
                    Código informado é inválido
                </mat-error>
            </mat-form-field>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-6">
            <mat-form-field>
                <input matInput placeholder="Descrição" id="descricao" formControlName="descricao" />
                <mat-error *ngIf="categoriaForm.controls.descricao.hasError('required')">
                    Descrição não informado
                </mat-error>
            </mat-form-field>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-6">
            <mat-form-field>
                <textarea matInput placeholder="Anotação" id="anotacao" formControlName="anotacao"></textarea>
            </mat-form-field>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-3">
            <button type="submit" class="btn btn-primary" [disabled]="categoriaForm.invalid">Submit</button>
        </div>
    </div>
</form>